.profile-outer-div{
    display: inline-flex;
    flex-direction: row;
    gap: 40px;
    padding: 0px 15px;
    max-width: 900px;
    margin-top: 40px;
    justify-content: space-between;
}

.proflie-photo-img{
    max-height: 300px;
    max-width: 300px;
    border-radius: 50%;
    
    border: 4px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(23, 226, 74), rgb(10, 101, 238));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}



.profile-title-text{
    background: linear-gradient(to right, rgb(23, 226, 74), rgb(10, 101, 238));;
    /* background: linear-gradient(to right, #30CFD0, #c43ad6); */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%);
}
.profile-subtitle-text{
    background: linear-gradient(to right, rgb(226, 23, 23), rgb(255, 79, 26));
    /* background: linear-gradient(to right, #30CFD0, #c43ad6); */
    -webkit-background-clip: text;
    background-clip: text;
    caret-color: #EE1D62;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%);
}

.profile-description-div{
    margin-top: 7px;
    line-height: 1.1;
    color: #fff;
    /* padding-top: 5px; */
    font-size: 16px;
}



.profile-link-btn {
    font-family: sans-serif;
    font-size: 17px;
    padding: 3px 10px;
    margin: 2px 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
}


.profile-btn-gradient-border {
    color: rgb(230, 227, 227);
    border: 2px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(23, 226, 74), rgb(10, 101, 238));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: rgba(#fff, 0.5) 0px 0px 20px 0px;
}

.profile-btn-icon {
    color: rgb(230, 227, 227);
    border-left: 2px double transparent;
    padding: 2px;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(23, 226, 74), rgb(10, 101, 238));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: rgba(#fff, 0.5) 0px 0px 20px 0px;
}


.profile-skills-chip{
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    color: #ff0055;
    background: rgba(0,0,0,0.8);
  backdrop-filter: saturate(180%) blur(10px);

    /* background-color: rgb(230, 227, 227); */
    padding: 3px 10px;
    border-radius: 8px;
    margin: 4px 5px;

    /* From https://css.glass */
    background: rgba(20, 10, 10, 0.34);
    border-radius: 6px;
    /* box-shadow: 0 4px 30px rgba(170, 35, 35, 0.1); */
    box-shadow:5px 5px 115px -14px black;
    backdrop-filter: blur(52px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.521);
    
    /* overflow: hidden;
    transform: translate(0);
    z-index: 100;
    cursor: pointer;
    position: relative; */

}

/* 
.profile-skills-chip::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 250%;
    top: 0%;
    left: -110%;
    transform: rotate(-16deg);
    z-index: -1;
    background: linear-gradient(to right, rgb(23, 226, 74), rgb(10, 101, 238));
}

.profile-skills-chip:hover::before{
    animation: onHover 0.7s 1;
    left: -10%;
    top: -10%;
}

@keyframes onHover{
    0% {
        left: -110%;
        top: 0%;
    }
    100% {
        left: 100%;
        top: 0%;
    }
} */

.profile-tech-icon{
    margin-right: 10px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .container {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

.timeline-content-div{
    display: flex;
    flex-direction: column;
    max-width: 470px;
    margin: 20px 0px;
    /* background-color: #3b2dfa; */
}

.timeline-item-date{
    font-size: 15px;
    font-weight: bold;
    color: #EE1D62;
}

.timeline-title-div {
    text-align: left;
    cursor: pointer;
}

.timeline-title-text{
    background: linear-gradient(to right, #ff1f62, #3b2dfa);
    /* background: linear-gradient(to right, #30CFD0, #c43ad6); */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%);
}

.timeline-description-div {
    text-align: left;
    line-height: 1.1;
    margin-top: 6px;
    color: rgb(230, 227, 227);
}
.timeline-description-text{
    font-size: 15px;
    /* text-align: left; */
    color: rgb(230, 227, 227);
    /* text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%); */
}

.timeline-list-ul{
    text-align: left;
    color: rgb(230, 227, 227);
    line-height: 1.1;
    list-style-type: square;
    margin-left: 0px;
}
.timeline-list-item-li{
    list-style-position: inside;
    margin-top: 2px;
}
.timeline-list-item-text{
    margin-left: -0.5rem;
}

.timeline-collapse-panel{
    margin-top: 5px;
}

.timeline-collapse-item-outer{
    padding-left: 25px;
}


.timeline-chip{
    display: inline-flex;
    font-size: 13px;
    color: #EE1D62;
    background-color: rgb(230, 227, 227);
    padding: 3px 10px;
    border-radius: 14px;
    margin: 2px 5px;
    box-shadow:5px 5px 115px -14px black;
}

.timeline-tech-icon{
    margin-right: 5px;
}


.timeline-align-right{
    text-align: right;
    margin-right: 20px;
}



.btn {
    font-family: sans-serif;
    font-size: 15px;
    padding: 3px 10px;
    margin: 2px 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 6px;
}

.btn-gradient-border {
    color: rgb(230, 227, 227);
    border: 2px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.btn:hover {
    transition: all 0.3s ease;
    /* color: red; */
}

.btn-glow:hover {
    box-shadow: rgba(#fff, 0.5) 0px 0px 20px 0px;
}

.timeline-fadeout {
    position: relative; 
    bottom: 4em;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 1) 0%
        rgba(255, 255, 255, 0) 100%,
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 


.ant-collapse-header {
    padding: 0px !important;
  }
  .ant-collapse-content-box {
    padding: 0px !important;
  }